<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New comment</title>
</head>
<body>
    <h1>Create a new comment</h1>
    <form action="/comments" method="POST">
        <section>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">   
        </section>
        
        <section>
            <label for="comments">Comment:</label>
            <br>
            <textarea name="comment" id="comments" cols="30" rows="10"></textarea>
        </section>
        <br>
        <button>Submit</button>
    </form>
</body>
</html>